body {
    background-color: #f4f6f8;
    font-family: Arial, sans-serif;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    width: 400px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom:15px;
    box-sizing: border-box;
    border:1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size:14px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius:6px;
    cursor: pointer;
    font-size:16px;
}

footer {
    text-align: center;
    margin-top: 30px;
}
button:hover {
    background-color: #555;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar nav{
    display:flex;
    gap:20px;
}
.login-form{
    display:flex;
    flex-direction: column;
    gap:10px;
}